[
  {example, [
      %% Configure the HTTP listener port. Override in production by
      %% providing a different value in a release overlay or with
      %% application:set_env/3 before the application starts.
      {port, 3000}
  ]},
  {mstmnte, [
    % {klsn_db, #{ db_name => <<"mstmnte_example">>,
    %               db_info => #{ url => <<"http://localhost:5984">> }
    %             }}
  ]}
].
